[Unit]
Description=OpenRFID Middleware Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/openrfid
ExecStart=/usr/bin/dotnet /opt/openrfid/OpenRFID.Management.Api.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=openrfid
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://+:8080

[Install]
WantedBy=multi-user.target
